.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container, .filter-container {
  margin-bottom: 20px;
}

.table-container {
  width: 100%;
}

.pending {
  color: orange;
  font-weight: bold;
}

.sent {
  color: green;
  font-weight: bold;
}

.error {
  color: red;
  font-weight: bold;
}
